@import url("https://cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");

@font-face {
	font-family: "example font";
	src: url("../fonts/alk-life-webfont.ttf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

/* homework */
header {
	background-color: #0020f4;
	padding-top: 40px;
	height: 387.56px;
}
.container {
	max-width: 1440px;
	width: 90%;
	margin: 0 auto;
}
header nav a {
	color: #fff;
	font-family: "Roboto", sans-serif;
}
header li {
	margin-left: 40px;
}

nav,
nav ul,
nav li {
	display: inline-block;
}
nav,
.logo {
	vertical-align: middle;
}

.contact {
	padding: 18px 40px;
	color: #171717;
	background-color: #ffffff;
	border-radius: 28px;
}

.homework {
	max-width: 1195px;
	width: 90%;
	margin: auto;
	margin-top: -100px;
}

.homework > img {
	width: 100%;
	height: 600px;
	object-fit: cover;
	border-radius: 15px;
}

.images img {
	width: 219px;
	height: 219px;
	object-fit: cover;
	margin-left: 25px;
}

.images img.no-margin {
	margin-left: 0;
}

.see-more {
	padding: 18px 57px;
	background-color: #0020f4;
	border: none;
}
h2 {
	font-family: "bold";
}
.homework p {
	max-width: 951px;
	margin: auto;
	font-family: "ALK Life", sans-serif;
}

/* lesson 5 */
.new {
	max-width: 1195px;
	width: 90%;
	margin: auto;
}
.new .img-text {
	border: 5px solid rebeccapurple;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 30px;
	text-align: center;
	border-radius: 30px;
}
.img-text img,
.img-text p {
	display: inline-block;
	vertical-align: middle;
}
.img-text p {
	max-width: 400px;
	font-family: "roboto regular";
}
.img-text img {
	max-width: 500px;
}
